<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pay.admin.repository.mybatis.PackageActivateStatRepositoryMyBatis">
	<select id="getSumList" parameterType="map" resultType="com.pay.admin.entity.PackageActivateStatEntity">
		select  a.stat_date as statDate, sum(a.activate_count)  as activateCount from t_package_activate_stat a 
		<where>
			id>0
			<if test="from != null">and a.stat_date>=#{from}</if>
			<if test="to != null"><![CDATA[ and a.stat_date <=#{to}]]></if>
			<if test="packageId != null">and a.package_id=#{packageId}</if>
			<if test="productId != null">and a.product_id=#{productId}</if>
			<if test="channelId != null">and a.channel_id=#{channelId}</if>
		</where>
		group by statDate order by statDate desc
	</select>	
	<select id="getListByDate" parameterType="map" resultType="com.pay.admin.entity.PackageActivateStatEntity">
		select a.package_id as packageId, a.activate_count  as activateCount from t_package_activate_stat a
		<where>
			a.stat_date=#{statDate}
			<if test="packageId != null">and a.package_id=#{packageId}</if>
			<if test="productId != null">and a.product_id=#{productId}</if>
			<if test="channelId != null">and a.channel_id=#{channelId}</if>
		</where>
	</select>		 	
</mapper>
